*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3D9FB8;
}
.container{
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    
}

.head-left{
    width: 40%;

}
.head-right a{
text-transform: uppercase;
color: #736EBE;
}
.head-right .fa-ellipsis{
    color: #736EBE;
}
